<span style="display:inline-block; width: 40px; height: 40px; background: silver; margin: 10px;"></span>


<span style="position: relative; display:inline-block; width: 40px; height: 40px; background: green; margin: 10px; vertical-align: top;">
  <span style="position: absolute; display:block; left: 0px; right: 0px; top: 0px; bottom: 0px; border: 5px solid red;">
  </span>
  <span style="position: relative; display:block; border: 5px solid transparent; overflow: hidden;">
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  </span>
</span>
<span style="position: relative; display:inline-block; background: green; margin: 10px; vertical-align: top;">
  <span style="position: absolute; display:block; left: 0px; right: 0px; top: 0px; bottom: 0px; border: 5px solid red;">
  </span>
  <span style="position: relative; display:block; border: 5px solid transparent; overflow: hidden;">
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  </span>
</span>

