<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <script type="text/javascript" src="CombinedEvents/CombinedEvents.js"></script>
    <script type="text/javascript" src="Css/Css.js"></script>
    <script type="text/javascript" src="Events/Events.js"></script>
    <script type="text/javascript" src="Nodes/Nodes.js"></script>
    <script type="text/javascript" src="RGBA/RGBA.js"></script>
    <script type="text/javascript" src="UIBox/UIBox.js"></script>
    <script type="text/javascript" src="UISlider/UISlider.js"></script>
    <script type="text/javascript">
      function go() {
        var oContainer = document.body.appendChild(document.createElement('div'));
        oContainer.style.height = '2em';
        var oUISlider = new UISlider(oContainer);
        oUISlider.oButtonInnerElement.innerHTML = 'default values in 2em height div';
        oUISlider.addEventListener('changeValue', function (oSlider, nValue) {
          console.log('changed:'  + nValue);
          oSlider.oButtonInnerElement.innerHTML = 'Value: ' + nValue;
        });

        var oContainer = document.body.appendChild(document.createElement('div'));
        oContainer.style.height = '2em';
        var oUISlider = new UISlider(oContainer);
        document.body.appendChild(document.createElement('br'));

        var asStyles = ['inset', 'outset', 'solid'];
        var aoProgressBars = []
        for (var i = 0; i < asStyles.length; i++) {
          var sStyle = asStyles[i];
          document.body.appendChild(document.createTextNode(sStyle));
          document.body.appendChild(document.createElement('br'));
          for (var nX = 1/5; nX <= 1; nX += 1/5) {
            var oColorF = new HSLA(nX, 1, .5, nX);
            var oUISlider = new UISlider(document.body, '8em', '2em');
            oUISlider.setButtonBorderStyle(sStyle);
            oUISlider.setButtonBorderWidth((2 + nX * 10) + 'px');
            oUISlider.setButtonColor(oColorF);
            aoProgressBars.push(oUISlider);
          }
          document.body.appendChild(document.createElement('br'));
        }
        var iStartTime = new Date().valueOf();
        setInterval(function () {
          var nTime = (new Date().valueOf() - iStartTime) / 1000;
          for (var i = 0; i < aoProgressBars.length; i++) {
            aoProgressBars[i].setValue((1 + Math.sin(nTime)) / 2);
          }
        }, 1000 / 60);
      }
    </script>
  </head>
  <body onload="go()">
  </body>
</html>
